@import "tailwindcss";

@config "../tailwind.config.js";

@font-face {
  font-family: "Astro";
  src: url("/fonts/astro/astro.otf");
}

@font-face {
  font-family: "Opinion Pro Extended";
  src: url("/fonts/opinion-pro/opinion-pro-extended-light.otf");
}

@font-face {
  font-family: "Opinion Pro Condensed";
  src: url("/fonts/opinion-pro/opinion-pro-condensed-light.otf");
}

@keyframes blink {
  0% {
    color: transparent;
  }
}
