/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Astro";
  src: url("/fonts/Astro/Astro.otf");
}

@font-face {
  font-family: "Opinion Pro Extended";
  src: url("/fonts/Opinion Pro/Opinion Pro Extended Light.otf");
}

@font-face {
  font-family: "Opinion Pro Condensed";
  src: url("/fonts/Opinion Pro/Opinion Pro Condensed Light.otf");
}
